<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" 
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:inpro="http://http://schemas.microsoft.com/appx/2010/manifest" 
         IgnorableNamespaces="uap mp rescap desktop inpro">
  <Identity Name="edef4cb5-0096-4b5b-b496-52d2194c9e45" Version="1.0.0.0" Publisher="CN=tour" />
  <mp:PhoneIdentity PhoneProductId="edef4cb5-0096-4b5b-b496-52d2194c9e45" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UWPJs</DisplayName>
    <PublisherDisplayName>tour</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <uap:VisualElements DisplayName="UWPJs" Description="UWPJs" BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" Executable="wwahost.exe" StartPage="js/appservice.js">
          <uap:AppService Name="ProgramAppBridge" />
        </uap:Extension>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="Win32Bridge.exe" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10">
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>